<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team2.app.reply.ReplyMapper">

	<insert id="writeReply" parameterType="ReplyVO">
		INSERT INTO REPLY
			(REPLY_NUM, COMMENT_NUM, EMP_NUM, REPLY_CONTENTS, REPLY_DATE)
		VALUES
			(NULL, #{commentNum}, #{empNum}, #{replyContents}, now())
	</insert>
	
	<update id="modifyReply" parameterType="ReplyVO">
		UPDATE REPLY SET REPLY_CONTENTS = #{replyContents} 
		WHERE REPLY_NUM = #{replyNum}
	</update>
	
	<update id="deleteReply" parameterType="ReplyVO">
		UPDATE REPLY SET REPLY_DEL = 1
		WHERE REPLY_NUM = #{replyNum}
	</update>
	
	<select id="getEmpNum" parameterType="ReplyVO">
		SELECT EMP_NUM FROM REPLY
		WHERE REPLY_NUM = #{replyNum}
	</select>
	
</mapper>