<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team2.app.schedule.ScheduleMapper">

	<!-- 로그인한 사용자와 일정 작성자가 일치하는지 비교하기 위해 '일정 작성자를 조회'해오는 쿼리 -->
	<select id="getEmpNum" parameterType="ScheduleVO">
		SELECT EMP_NUM FROM SCHEDULE
		WHERE SCHEDULE_NUM = #{scheduleNum}
	</select>
	
	<!-- 일정에 '작성자 이름 표시' 및 '같은 부서 공유'를 위해 Employee 테이블과 JOIN을 함 -->
	<select id="getList" resultMap="ScheduleInfo" parameterType="EmployeeVO">
		SELECT * FROM
			SCHEDULE S
		LEFT JOIN
			EMPLOYEE E
		ON (S.EMP_NUM = E.EMP_NUM)
		WHERE
			E.DEPT_NUM = #{deptNum}
	</select>
	<resultMap type="ScheduleVO" id="ScheduleInfo">
		<id column="SCHEDULE_NUM" property="scheduleNum"/>
		<result column="EMP_NUM" property="empNum"/>
		<result column="SCHEDULE_TITLE" property="scheduleTitle"/>
		<result column="SCHEDULE_CONTENTS" property="scheduleContents"/>
		<result column="SCHEDULE_START" property="scheduleStart"/>
		<result column="SCHEDULE_END" property="scheduleEnd"/>
		<result column="SCHEDULE_CATEGORY" property="scheduleCategory"/>
		<result column="SCHEDULE_PRIVATE" property="schedulePrivate"/>
		
		<association property="employeeVO" javaType="EmployeeVO">
			<result column="EMP_NAME" property="empName"/>
			<result column="DEPT_NUM" property="deptNum"/>
		</association>
	</resultMap>
	
	
	<update id="modifySchedule" parameterType="ScheduleVO">
		UPDATE SCHEDULE
		SET
			SCHEDULE_TITLE = #{scheduleTitle}, SCHEDULE_CONTENTS= #{scheduleContents},
			SCHEDULE_START= #{scheduleStart}, SCHEDULE_END= DATE_ADD(#{scheduleEnd},INTERVAL 1 MINUTE),
			SCHEDULE_CATEGORY= #{scheduleCategory} 
		WHERE SCHEDULE_NUM = #{scheduleNum}
	</update>
	
	<delete id="deleteSchedule" parameterType="ScheduleVO">
		DELETE FROM SCHEDULE 
		WHERE SCHEDULE_NUM = #{scheduleNum}
	</delete>
	
	<insert id="writeSchedule" parameterType="ScheduleVO">
		INSERT INTO SCHEDULE
			(SCHEDULE_NUM, EMP_NUM, SCHEDULE_TITLE, SCHEDULE_CONTENTS, SCHEDULE_START, SCHEDULE_END, SCHEDULE_CATEGORY)
		VALUES
			(NULL, #{empNum}, #{scheduleTitle}, #{scheduleContents},
			#{scheduleStart}, DATE_ADD(#{scheduleEnd},INTERVAL 1 MINUTE), #{scheduleCategory})
	</insert>
	
	<!-- 일정을 '드래그 앤 드랍'으로 수정하는 쿼리 -->
	<update id="dragUpdateSchedule" parameterType="ScheduleVO">
		UPDATE SCHEDULE
		SET
			SCHEDULE_START= #{scheduleStart}, SCHEDULE_END= DATE_ADD(#{scheduleEnd},INTERVAL 1 MINUTE)
		WHERE SCHEDULE_NUM = #{scheduleNum}
	</update>

	<select id="previewSchedule" resultMap="ScheduleInfo" parameterType="EmployeeVO">
		SELECT * FROM SCHEDULE S
			LEFT JOIN EMPLOYEE E
			ON (S.EMP_NUM = E.EMP_NUM)
		WHERE
		E.DEPT_NUM = #{deptNum} AND
		((S.SCHEDULE_START &lt; CURRENT_DATE() AND CURRENT_DATE() &lt; S.SCHEDULE_END) OR
		S.SCHEDULE_START = CURRENT_DATE())
	</select>

</mapper>