<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team2.app.comment.CommentMapper">

	<select id="getCommentList" resultType="CommentVO" parameterType="CommentVO">
		SELECT * FROM COMMENT
		WHERE NOTICE_NUM = #{noticeNum}
		ORDER BY COMMENT_NUM ASC
	</select>
	
	<insert id="writeComment" parameterType="CommentVO">
		INSERT INTO COMMENT
			(COMMENT_NUM, NOTICE_NUM, EMP_NUM, COMMENT_CONTENTS, COMMENT_DATE)
		VALUES
			(NULL, #{noticeNum}, #{empNum}, #{commentContents}, now())
	</insert>
	
	<update id="deleteComment" parameterType="CommentVO">
		UPDATE COMMENT SET COMMENT_DEL = 1 
		WHERE COMMENT_NUM = #{commentNum}
	</update>
	
	<update id="modifyComment" parameterType="CommentVO">
		UPDATE COMMENT SET COMMENT_CONTENTS = #{commentContents} 
		WHERE COMMENT_NUM = #{commentNum}
	</update>

</mapper>