<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team2.app.comment.CommentMapper">

	<!-- 로그인한 사용자와 일정 작성자가 일치하는지 비교하기 위해 '일정 작성자를 조회'해오는 쿼리 -->
	<select id="getEmpNum" parameterType="CommentVO">
		SELECT EMP_NUM FROM COMMENT
		WHERE COMMENT_NUM = #{commentNum}
	</select>

	<select id="getCommentList" resultMap="getReplyList" parameterType="CommentVO">
		SELECT C.*, R.*, R.EMP_NUM AS REPLY_EMP_NUM, E.EMP_NAME AS COMMENT_EMP_NAME, D.DEPT_NAME AS COMMENT_DEPT_NAME,
	           RE.EMP_NAME AS REPLY_EMP_NAME, RD.DEPT_NAME AS REPLY_DEPT_NAME 
		FROM COMMENT C
			LEFT JOIN REPLY R
				ON (C.COMMENT_NUM = R.COMMENT_NUM)
			LEFT JOIN EMPLOYEE E
				ON (C.EMP_NUM = E.EMP_NUM)
			LEFT JOIN DEPARTMENT D
				ON (E.DEPT_NUM = D.DEPT_NUM)
			LEFT JOIN EMPLOYEE RE
				ON (R.EMP_NUM = RE.EMP_NUM)
			LEFT JOIN DEPARTMENT RD
				ON (RE.DEPT_NUM = RD.DEPT_NUM)
		WHERE C.NOTICE_NUM = #{noticeNum}
	</select>
	
	<resultMap type="CommentVO" id="getReplyList">
		<id column="COMMENT_NUM" property="commentNum"></id>
		<result column="NOTICE_NUM" property="noticeNum"></result>
		<result column="EMP_NUM" property="empNum"></result>
		<result column="COMMENT_CONTENTS" property="commentContents"></result>
		<result column="COMMENT_DATE" property="commentDate"></result>
		<result column="COMMENT_DEL" property="commentDel"></result>
		
		<!-- Comment 작성자 정보 -->
		<association property="employeeVO" javaType="EmployeeVO">
			<result column="COMMENT_EMP_NAME" property="empName"/>
			<result column="DEPT_NUM" property="deptNum"/>
		</association>
		
		<!-- Comment 소속 부서 정보 -->
		<association property="departmentVO" javaType="DepartmentVO">
			<result column="COMMENT_DEPT_NAME" property="deptName"/>
		</association>
		
		<!-- Reply 리스트 -->
		<collection property="replyList" javaType="java.util.List" ofType="ReplyVO">
			<id column="REPLY_NUM" property="replyNum"></id>
			<result column="COMMENT_NUM" property="commentNum"></result>
			<result column="REPLY_EMP_NUM" property="empNum"></result>
			<result column="REPLY_CONTENTS" property="replyContents"></result>
			<result column="REPLY_DATE" property="replyDate"></result>
			<result column="REPLY_DEL" property="replyDel"></result>
			
			<!-- Reply 작성자 정보 -->
			<association property="employeeVO" javaType="EmployeeVO">
				<result column="REPLY_EMP_NAME" property="empName"/>
				<result column="REPLY_DEPT_NUM" property="deptNum"/>
			</association>
			
			<!-- Reply 소속 부서 정보 -->
			<association property="departmentVO" javaType="DepartmentVO">
				<result column="REPLY_DEPT_NAME" property="deptName"/>
			</association>
		</collection>
	</resultMap>
	
	<insert id="writeComment" parameterType="CommentVO">
		INSERT INTO COMMENT
			(COMMENT_NUM, NOTICE_NUM, EMP_NUM, COMMENT_CONTENTS, COMMENT_DATE)
		VALUES
			(NULL, #{noticeNum}, #{empNum}, #{commentContents}, now())
	</insert>
	
	<update id="deleteComment" parameterType="CommentVO">
		UPDATE COMMENT SET COMMENT_DEL = 1 
		WHERE COMMENT_NUM = #{commentNum}
	</update>
	
	<update id="modifyComment" parameterType="CommentVO">
		UPDATE COMMENT SET COMMENT_CONTENTS = #{commentContents} 
		WHERE COMMENT_NUM = #{commentNum}
	</update>

</mapper>