<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team2.app.department.DepartmentMapper">
  
  	<select id="getList" resultType="DepartmentVO">
  		SELECT *
  		FROM DEPARTMENT
		ORDER BY DEPT_NUM ASC
  	</select>
  	
  	<insert id="add" parameterType="DepartmentVO">
  		INSERT INTO DEPARTMENT (DEPT_NUM, DEPT_NAME)
  		VALUES (NULL, #{deptName})
  	</insert>
  	
  	<select id="checkName" parameterType="DepartmentVO" resultType="DepartmentVO">
  		SELECT *
  		FROM DEPARTMENT
  		WHERE DEPT_NAME = #{deptName}
  	</select>
  	
  	<select id="detail" parameterType="DepartmentVO" resultType="DepartmentVO">
  		SELECT *
  		FROM DEPARTMENT
  		WHERE DEPT_NUM = #{deptNum}
  	</select>
  	
  	<update id="update" parameterType="DepartmentVO">
  		UPDATE DEPARTMENT
  		SET DEPT_NAME=#{deptName}
  		WHERE DEPT_NUM = #{deptNum}
  	</update>
  
  </mapper>