<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.app.approval.ApprovalMapper">
	
	<select id="getList" parameterType="EmployeeVO" resultMap="ApprDocInfo">
	SELECT A.*, AL.*,
		(SELECT E.EMP_NAME
		FROM EMPLOYEE E
		WHERE A.DOC_WRITER = E.EMP_NUM
		)AS EMP_NAME,	
		(SELECT T.TEMPLATE_NAME
		FROM DOC_TEMPLATE T
		WHERE A.DOC_TEMPLATECODE = T.DOC_TEMPLATECODE
		)AS TEMPLATE_NAME,
		(SELECT D.DEPT_NAME 
		FROM DEPARTMENT D 
		JOIN
		EMPLOYEE E
		ON E.DEPT_NUM = D.DEPT_NUM 
		WHERE E.EMP_NUM = A.DOC_WRITER
		) AS DEPT_NAME,
		(SELECT P.POS_NAME 
		FROM POSITIONS P 
		JOIN
		EMPLOYEE E
		ON E.POS_NUM = P.POS_NUM 
		WHERE E.EMP_NUM = A.DOC_WRITER
		) AS POS_NAME,
		(SELECT EF.FILE_NAME 
		FROM EMP_FILE EF 
		WHERE EF.EMP_NUM = A.DOC_WRITER
		) AS FILE_NAME,
		E2.EMP_NAME AS APPROVER_NAME
	FROM APPROVAL_DOCBOX A
	LEFT JOIN
	APPROVAL_LINE AL
	ON A.DOC_NUM = AL.DOC_NUM
	LEFT JOIN
	EMPLOYEE E2
	ON AL.APPROVER = E2.EMP_NUM 
	WHERE A.DOC_WRITER = #{empNum}
	ORDER BY AL.AL_NUM ASC
	</select>
	<resultMap type="ApprDocVO" id="ApprDocInfo">
		<id property="docNum" column="DOC_NUM"/>
		<result property="docWriter" column="DOC_WRITER"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="posName" column="POS_NAME"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="docTypecode" column="DOC_TYPECODE"/>
		<result property="docTemplatecode" column="DOC_TEMPLATECODE"/>
		<result property="templateName" column="TEMPLATE_NAME"/>
		<result property="docTitle" column="DOC_TITLE"/>
		<result property="docContent" column="DOC_CONTENT" jdbcType="BLOB"/>
		<result property="docUpdatedate" column="DOC_UPDATEDATE"/>
		<result property="docDraftdate" column="DOC_DRAFTDATE"/>
		<result property="docExpirydate" column="DOC_EXPIRYDATE"/>
		<result property="tempStorage" column="TEMP_STORAGE"/>
		<result property="approvalResult" column="APPROVAL_RESULT"/>
		
		<collection property="apprLineVO" javaType="java.util.List" ofType="ApprLineVO">
			<id property="alNum" column="AL_NUM"/>
			<result property="docNum" column="DOC_NUM"/>
			<result property="docTemplatecode" column="DOC_TEMPLATECODE"/>
			<result property="approver" column="APPROVER"/>
			<result property="approverName" column="APPROVER_NAME"/>
			<result property="apprProgress" column="APPR_PROGRESS"/>
		</collection>	
	</resultMap>	
	
		
	<select id="getApprLine" parameterType="ApprDocVO" resultType="ApprLineVO">
		SELECT * FROM APPROVAL_LINE
		WHERE DOC_NUM = {#docNum}
	</select>
	
	
	<select id="getApprHistory" parameterType="ApprDocVO" resultType="ApprHistoryVO">
		SELECT * FROM APPROVAL_HISTORY
		WHERE DOC_NUM = {#docNum}
	</select>		
	
	
	<select id="getDocType" resultMap="Template">
		SELECT TYPE.*, TEMPLATE.*
		FROM
		DOC_TYPE TYPE
		LEFT JOIN
		DOC_TEMPLATE TEMPLATE
		ON TYPE.DOC_TYPECODE = TEMPLATE.DOC_TYPECODE
	</select>
	<resultMap type="DocTypeVO" id="Template">
		<id property="docTypecode" column="DOC_TYPECODE"/>
		<result property="docTypename" column="DOC_TYPENAME"/>
		
		<collection property="docTemplateVO" javaType="java.util.List" ofType="DocTemplateVO">
			<id property="docTemplatecode" column="DOC_TEMPLATECODE"/>
			<result property="docTypecode" column="DOC_TYPECODE"/>
			<result property="templateName" column="TEMPLATE_NAME"/>		
		</collection>
	</resultMap>
	
	
	<insert id="saveSign" parameterType="SignVO">
		INSERT INTO SIGN (SIGN_USER, SIGN_TITLE, SIGN_IMAGE)
		VALUES (#{signUser}, #{signTitle}, #{signImage})
	</insert>	
	
	
	
	
	
	
	
	
	
	
	

</mapper>