<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.app.haerin.commute.CommuteMapper">

	<select id="checkList" resultType="CommuteVO">
			SELECT C.EMP_NUM, E.EMP_NAME, C.COMMUTE_INTIME, C.COMMUTE_OUTTIME, C.COMMUTE_STATUS
			FROM COMMUTE C
			LEFT JOIN EMPLOYEE E ON C.EMP_NUM = E.EMP_NUM
			ORDER BY C.COMMUTE_INTIME DESC;
	</select>

	<select id="userList" resultType="CommuteVO"
		parameterType="CommuteVO">
		SELECT C.EMP_NUM, E.EMP_NAME, C.COMMUTE_INTIME, C.COMMUTE_OUTTIME,
		C.COMMUTE_STATUS
		FROM COMMUTE C
		JOIN EMPLOYEE E ON C.EMP_NUM = E.EMP_NUM
		WHERE C.EMP_NUM = #{empNum}
	</select>


	<insert id="checkIn" parameterType="CommuteVO">
		INSERT INTO COMMUTE (EMP_NUM, COMMUTE_INTIME, COMMUTE_OUTTIME,
		COMMUTE_STATUS)
		VALUES (#{empNum},NOW(), NULL, 1);
	</insert>

	<update id="checkOut" parameterType="CommuteVO">
		UPDATE COMMUTE
		SET COMMUTE_OUTTIME =NOW(), COMMUTE_STATUS = 2
		WHERE EMP_NUM = #{empNum} AND COMMUTE_OUTTIME IS NULL
	</update>

	<select id="checkTodayCheckIn" parameterType="CommuteVO"
		resultType="int">
		SELECT COUNT(*)
		FROM COMMUTE
		WHERE EMP_NUM = #{empNum} AND DATE(COMMUTE_INTIME) = CURDATE()
	</select>

	<select id="checkTodayCheckOut" parameterType="CommuteVO"
		resultType="int">
		SELECT COUNT(*)
		FROM COMMUTE
		WHERE EMP_NUM = #{empNum} AND DATE(COMMUTE_INTIME) = CURDATE() AND
		COMMUTE_OUTTIME IS NULL
	</select>
	
	<update id="update">
    UPDATE COMMUTE 
    SET COMMUTE_STATUS = #{commuteStatus} 
    WHERE EMP_NUM = #{empNum}
	</update>
	
	
	
	
	
	<update id="absentUpdate"  >
	INSERT INTO COMMUTE (EMP_NUM, COMMUTE_INTIME, COMMUTE_OUTTIME, COMMUTE_STATUS)
	SELECT E.EMP_NUM, NOW(), NULL , NULL 
	FROM EMPLOYEE E
	LEFT JOIN COMMUTE C ON E.EMP_NUM = C.EMP_NUM
	WHERE DATE(C.COMMUTE_INTIME) IS NULL OR DATE(C.COMMUTE_INTIME) != CURRENT_DATE
	</update>






</mapper>