<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team2.app.notice.NoticeMapper">
	
	<select id="getList" resultMap="getNoticeList" parameterType="Pager">
		SELECT * FROM NOTICE_BOARD NB
			LEFT JOIN EMPLOYEE E 
				ON (NB.EMP_NUM = E.EMP_NUM)
			LEFT JOIN DEPARTMENT D
				ON (E.DEPT_NUM = D.DEPT_NUM)
		<if test="deptNum > 0">
			WHERE D.DEPT_NUM = #{deptNum}
		</if>
		ORDER BY NOTICE_NUM DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	<resultMap type="NoticeVO" id="getNoticeList">
		<id column="NOTICE_NUM" property="noticeNum"/>
		<result column="EMP_NUM" property="empNum"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENTS" property="noticeContents"/>
		<result column="NOTICE_HIT" property="noticeHit"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		
		<association property="employeeVO" javaType="EmployeeVO">
			<result column="EMP_NAME" property="empName"/>
			<result column="DEPT_NUM" property="deptNum"/>
		</association>
		
		<association property="departmentVO" javaType="DepartmentVO">
			<result column="DEPT_NAME" property="deptName"/>
		</association>
	</resultMap>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NOTICE_NUM) FROM NOTICE_BOARD NB
		<if test="deptNum > 0">
				LEFT JOIN EMPLOYEE E
					ON (NB.EMP_NUM = E.EMP_NUM)
			WHERE E.DEPT_NUM = #{deptNum}
		</if>
	</select>
	
	<select id="getPost" resultMap="getPostFile" parameterType="NoticeVO">
		SELECT * FROM NOTICE_BOARD NB
			LEFT JOIN NOTICE_FILE NF 
				ON (NB.NOTICE_NUM = NF.NOTICE_NUM)
			LEFT JOIN EMPLOYEE E
				ON (NB.EMP_NUM = E.EMP_NUM)
			LEFT JOIN DEPARTMENT D
				ON (E.DEPT_NUM = D.DEPT_NUM)
		WHERE NB.NOTICE_NUM = #{noticeNum}
	</select>
	
	<resultMap type="NoticeVO" id="getPostFile">
		<id column="NOTICE_NUM" property="noticeNum"/>
		<result column="EMP_NUM" property="empNum"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENTS" property="noticeContents"/>
		<result column="NOTICE_HIT" property="noticeHit"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		
		<association property="employeeVO" javaType="EmployeeVO">
			<result column="EMP_NAME" property="empName"/>
			<result column="DEPT_NUM" property="deptNum"/>
		</association>
		
		<association property="departmentVO" javaType="DepartmentVO">
			<result column="DEPT_NAME" property="deptName"/>
		</association>
		
		<collection property="list" javaType="java.util.List" ofType="NoticeFileVO">
			<id column="FILE_NUM" property="fileNum"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="ORI_NAME" property="oriName"/>
		</collection>
	</resultMap>
	
	<!-- 서브쿼리를 사용하지 않으면 noticeHit에 null 이 들어가 있어 null + 1 이 되므로 에러가 발생한다 -->
	<update id="increaseHit" parameterType="NoticeVO">
		UPDATE NOTICE_BOARD
			SET NOTICE_HIT =
				(SELECT NOTICE_HIT FROM NOTICE_BOARD WHERE NOTICE_NUM = #{noticeNum}) + 1
		WHERE NOTICE_NUM = #{noticeNum}
	</update>
	
	<insert id="writePost" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="noticeNum">
		INSERT INTO NOTICE_BOARD
			(NOTICE_NUM, EMP_NUM, NOTICE_TITLE, NOTICE_CONTENTS, NOTICE_HIT, NOTICE_DATE)
		VALUES
			(NULL, #{empNum}, #{noticeTitle}, #{noticeContents}, 0, now())
	</insert>
	
	<update id="modifyPost" parameterType="NoticeVO">
		UPDATE NOTICE_BOARD
			SET NOTICE_TITLE= #{noticeTitle}, NOTICE_CONTENTS= #{noticeContents} 
		WHERE NOTICE_NUM = #{noticeNum}
	</update>
	
	<delete id="deletePost" parameterType="NoticeVO">
		DELETE FROM NOTICE_BOARD 
		WHERE NOTICE_NUM = #{noticeNum}
	</delete>
	
	<insert id="saveFile" parameterType="NoticeFileVO">
		INSERT INTO NOTICE_FILE
			(NOTICE_NUM, FILE_NAME, ORI_NAME)
		VALUES
			(#{noticeNum}, #{fileName}, #{oriName})
	</insert>
	
	<!-- 인덱스 페이지에 공지사항 미리보기 만드는 쿼리문 -->
	<select id="preview" resultMap="getNoticeList">
		SELECT * FROM NOTICE_BOARD NB
			LEFT JOIN EMPLOYEE E 
				ON (NB.EMP_NUM = E.EMP_NUM)
			LEFT JOIN DEPARTMENT D
				ON (E.DEPT_NUM = D.DEPT_NUM)
		ORDER BY NOTICE_NUM DESC
		LIMIT 0, 10	
	</select>

</mapper>